<!DOCTYPE html>
<html>
  <head>
    <title>BrandeNew</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
     <link href="/assets/bootstrap.min.css" rel="stylesheet">

    <link href="/assets/animate.css" rel="stylesheet">
    <link href="/assets/style.css" rel="stylesheet">
  </head>

  <body class="gray-bg">
    <% if user_signed_in? %>
  Logged in as <strong><%= current_user.email %></strong>.
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
<% end %>
    <%= yield %>
      <script src="/assets/jquery-3.1.1.min.js"></script>
    <script src="/assets/popper.min.js"></script>
    <script src="/assets/bootstrap.js"></script>
  </body>
</html>
